/* Sirve para darle orden a toda la página*/
* {
	margin: 0;
	border: 0;
    padding: 0;
}

/* Sirve para darle diseño al texto de toda la página*/
#principal{
    text-align: center;
    font-family: 'sans-serif', 'Hind Siliguri',Arial,'Hind Maduray';
}


body{
    background-color: #b6b9b8;
}

header {
	background-color: #ffffff;
}
header h1 {
	padding: 20px;
	text-align: center;
	color: rgb(0, 0, 0);
    font-size: xx-large;
}
header img {
	width: 100%;
    
	vertical-align: bottom;
}
nav {
	background-color: #fdfeff;
    text-align: center;
   
}

nav a {
	padding: 16px ;
	text-decoration: none;
	color: black;
	display: inline-block;
    margin: 0 28px;
    font-size: 20px;

}
nav a:hover{
    background-color: red;

}
main {
    display: flex;
}
aside {
    width: 20%;
    padding: 20px;
    font-size: x-large;
    background-color: #5FF3A0;
}
aside h3{
    padding: 20px 0;
}
aside a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    
}


aside img{
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
     
}

section{
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 22px;
    margin-top: 20px;
    
}
section figure img{
    width: 60%;
    margin:  10px auto;
    display: block;
    border-radius: 30px;
    
}

section figure{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 10px;
}
figure a{
    text-decoration: none;
    color: black;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #ebebeb;
}
footer p {
    margin-bottom: 10px;
    color: black;
}
footer img{
    width: 80px;
    border-radius: 30px;
    margin-left: 80px;
    
}
